*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

 body{
	background-size: cover;
	background-color: rgba(233, 214, 196, 0.884);
}

 header{
	width: 100%;
	background-image: url(https://img.besthqwallpapers.com/Uploads/22-6-2019/96928/freelance-concept-4k-night-work-home-woker-working-at-night.jpg);
 }

#navTitle{
	padding-top: 20px;
}

#navTitle h1{
	text-align: center;
	font-family: 'Arima Madurai', cursive;
	color: rgba(235, 111, 28, 0.918);
}

#navBar ul {
	padding-right: 10px;
	padding: 0px;	
}

#navBar ul li{
	list-style: none;
	display: inline-block;
	padding: 0 20px;	
	position: relative;
}

#navBar{
	text-align: right;
	padding-top: 20px;
	
}

#navBar ul li a{
	text-decoration: none;
	color: #fff;
	font-family: 'Arima Madurai', cursive;
	font-size: 1.2rem;
}

#navBar ul li::before{
	content: "";
	height: 3px;
	width: 0%;
	background-color: rgb(53, 134, 240);
	position: absolute;
	bottom: -12px;
	transition: 0.4s ease-out;
}

#navBar ul li:hover::before{
	width: 100%;
}

#encabezado{
	position: relative;
	background-image: url("./Sources/img/fondo.jpg");
	padding: 300px  0px;
	background-size: cover;
	background-attachment: fixed;
}

#encabezado h1{
	text-align: center;
	font-family: 'Orbitron', sans-serif;
	font-size: 100px;
	color: rgba(72, 143, 248, 0.904);
}


/* About me */
#tituloAboutme h1{
	text-align: center;
	font-family: 'Balsamiq Sans', cursive;
	padding: 30px 0px; 
}

#About-me-img img{
	width: 100%;
	padding: 20px 100px;
}

#About-me-texto{
 	text-align: justify;
	font-size: medium;
	padding: 10% 3%;
}

#About-me-texto p{
	padding: 10px;
}

/* Habilidades */

 .skills-field{
	padding: 30px 50px;
	width: 100%;
	text-align: center;
	background-image: url(https://fondosmil.com/fondo/52902.jpg);
	background-attachment: fixed;
	background-size: cover;
}

#titulo-skill{
	color: #fff;
	font-family: 'Balsamiq Sans', cursive;
	padding: 30px;
}

.titulo-skills{
	color: rgb(87, 85, 85);
	padding: 10px;
}


#contenedor-skill{
	background-color: rgba(247, 242, 242, 0.733);
	color: rgba(0, 0, 0, 0.582);
	justify-content: center;
	border-radius: 10px; 
	padding: 15px;
	margin-bottom: 20px;
}

.img{
	width: 100%;
	height: 20%;
	border-radius:20px;
	opacity: 0.9;
}

.hobbies-field{
	position: relative;
	background-color: rgba(231, 231, 229, 0.658);
	width: 100%;
	min-height: 610px;
	height: auto;
	padding-top: 20px;
}

.hobbies-tittle{
	position: absolute;
	text-align: center;
	width: 100%;
	margin-top: 20px;
	font-family: 'Balsamiq Sans', cursive;
}

.contenedor{
	position: absolute;
	width: 100%;
	margin-top: 105px;
}

.contenedor a {
	text-decoration: none;
	color: #fff;
}

.contenedor a:hover {
	text-decoration: none;
	color: rgb(250, 251, 252);
}

.galeria-port{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin-left: 10%;
}

.hobbies-img{
	width: 24%;
	margin-bottom: 10px;
	height: 200px;
	overflow: hidden;
	position: relative;
	display: inline-block;
	cursor: pointer;
	box-shadow: 0 0 6px 0 rgba(0,0,0, .5);
	margin-right: 10px;
}

.hobbies-img > img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.hover-hobbies{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	transform: scale(0);
	background: hsla(273, 91%, 27%,0.7);
	transition: transform .5s;
	display:flex;
	justify-content: center;
	align-items: 	center;
	flex-direction: column;
}

.hover-hobbies a{
	color: #fff;
}


.hobbies-img:hover .hover-hobbies{
	transform: scale(1);
}

footer{
	background-color: black;
	padding-top: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.finalidad{
	margin-top: 15px;
	margin-left: 40px;
	color: #fff;
	width: 80%;
	min-width: 24%;
	font-family: 'Balsamiq Sans', cursive;
	text-align: left;
}


.develop{ 
	color:#fff;
	text-align: center;
	width: 100%;
}

section #services {
	text-align: center;
	transform: translatez(0);
	width: 100%;
	margin-top: 40px;
  }

  section #services li {
	width: 100px;
	height: 100px;
	display: inline-block;
	list-style: none;
  }

  section #services li div {	
	width: 70%;
	height: 70%;
	border-radius: 10px;
	font-size: 3.4em;
	text-align: center;
	line-height: 120px;
	background-color: #fff;	
	transition: all 0.5s ease;
  }

  section #services li a {
	color:  rgba(21, 50, 112, 0.836);
  }
  
  section #services li div:hover {
	transform: rotate(360deg);
	border-radius: 100px;
  }

  i{
	  position: absolute;
	  margin-left: -25px;
	  margin-top: 9px;
	  width: 50px;	
	  height: 50px;
	  max-width: 50px;
	  max-height: 50px;
  }

  section #services li span {
	width: 70%;
	height: 5%;
	display: block;
	padding: 15px 0px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
  }


@media (max-width: 780px) {
	.About-me-field{
		min-height: 900px;
		width: 90%;
		margin-left: 5%;
	}

	.encabezado-kp{
		font-family: 'Orbitron', sans-serif;
		font-size: 40px;
		color: rgba(39, 79, 138, 0.904);
	}


	.About-me-texto{
		width: 100%;
		height: 50%;
		margin-top: 100%;
		font-size: 15px;
		margin-left: -5%;
	}

	.About-me-img{
		height: 40%;
		width: 90%;
	}

	.contenedor{
		width: 100%;
		align-content: center;
	}

	.contenedor-skill{
		width: 100%;
	}

	.caja-content h5{
		font-size: 12px;
	}

	.caja-content h6{
		font-size: 10px;
	}

	.caja-content .img{
		height: 80px;	
	}

	.encabezado{
		width: 100%;
		background-size: contain;
		height: 180px;
	}

	.contenedor-skill{
		position: relative;
		margin: auto auto 5px auto;
		width: 95%;	
		grid-template-columns: 34% 34% 34%;
		grid-template-rows: auto;
		justify-content: center;
		border-radius: 10px;
		padding: 5px;
	}

	.caja-skill3{
		margin: 5px;
	}
	.caja-skill2{
		margin: 5px;
	}
	.caja-skill1{
		margin: 5px;
	}

	.galeria-port{
		width: 100%;
		padding: 0px;
		margin-left: 0%;
		justify-content: center;
	}

	.hobbies-img{
		width: 28%;
	}

	.hobbies-field{
		height: 790px;
	}
}