*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
 }

header{
	position: relative;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.555);
}

.Title-nombre{
	position: absolute;
	background-color: #f5f7fab7;
	width: 50%;
	margin-left: 15px;
	height: 80px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Title-nombre-texto{
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	color: rgb(14, 13, 13);
	text-decoration: underline rgb(5, 5, 5) 2px;
}

.menu-bar{
	display: none;
}

nav{
	display: flex;
	text-align: right;
	align-items: center;
	justify-content: right;
	min-height: 80px;
}

header nav ul{
	overflow: hidden;
	list-style: none;
}

header nav ul li{
	float: left;
	margin: 5px;
}

header nav ul li a{
	color:rgb(56, 53, 53);
	padding: 20px;
	display: block;
	text-decoration: none;
}

header nav ul li a:hover {
	background-color: rgba(163, 182, 235, 0.877);
}

body{
    background-image: url(https://thumbs.dreamstime.com/b/ecuaciones-y-formas-de-la-matem%C3%A1ticas-en-fondo-azul-45428641.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.cuerpo{
    background-image: url(https://thumbs.dreamstime.com/b/ecuaciones-y-formas-de-la-matem%C3%A1ticas-en-fondo-azul-45428641.jpg);
    background-size: cover;
    background-attachment: fixed;
	padding-bottom: 70px;
}

.list-group{
    width: 60%;
    margin-left: 20%;
    margin-top: 5%;
	min-width: 60%;
    text-align: center;
    opacity: 0.9;
    border-radius: 20px;
}
footer{
	background-color: black;
	padding-top: 20px;
	width: 100%;
	padding-bottom: 10px;
}

.finalidad{
	margin-top: 15px;
	margin-left: 40px;
	color: #fff;
	width: 80%;
	min-width: 24%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: left;
}


.develop{ 
	color:#fff;
	text-align: center;
	width: 100%;
}

section #services {
	text-align: center;
	transform: translatez(0);
	width: 100%;
	margin-top: 40px;
  }

  section #services li {
	width: 100px;
	height: 100px;
	display: inline-block;
	list-style: none;
  }

  section #services li div {	
	width: 70%;
	height: 70%;
	border-radius: 10px;
	font-size: 3.4em;
	text-align: center;
	line-height: 120px;
	background-color: #fff;	
	transition: all 0.5s ease;
  }

  section #services li a {
	color:  rgba(21, 50, 112, 0.836);
  }
  
  section #services li div:hover {
	transform: rotate(360deg);
	border-radius: 100px;
  }

  i{
	  position: absolute;
	  margin-left: -25px;
	  margin-top: 9px;
	  width: 50px;	
	  height: 50px;
	  max-width: 50px;
	  max-height: 50px;
  }

  section #services li span {
	width: 70%;
	height: 5%;
	display: block;
	padding: 15px 0px;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
  }

  @media screen and (max-widht:694px) {
	  	header nav{
			   width: 80%;
			   height: 100%;
			   margin: 0;
			   position: fixed;
		  }

		header nav ul li {
			display: block;
			float: none;
			border-bottom: 1px solid rgba(163, 182, 235, 0.877);
		}

		.menu-bar{
			display: block;
			width: 100%;
			background-color: beige;
		}

		.menu-bar .bt-menu{
				display: block;
				padding: 20px;
				background-color: #fff;
				color:black;
				text-decoration: none;
				font-size: 25px;
				box-sizing: border-box;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
		}	
  }